/target
/classes
/cljs-test/ont_app/datascript-graph/node_modules
/checkouts
/node_modules
/out
/resources
package-lock.json
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*~
*#
